In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv('student_data.csv')

In [3]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [4]:
df['school'] = df['school'].replace(['GP','MS'],['Gabriel Pereira','Mousinho da Silveira'])

In [5]:
 df.rename(columns = {'sex':'gender'}, inplace = True)

In [6]:
df

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Gabriel Pereira,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [7]:
df['gender'] = df['gender'].replace(['M','F'],['Male','Famle'])

In [8]:
df

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Gabriel Pereira,Famle,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [9]:
df['address'] = df['address'].replace(['U','R'],['Urban','Rural'])

In [10]:
df

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,Gabriel Pereira,Famle,18,Urban,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [11]:
df.columns

Index(['school', 'gender', 'age', 'address', 'famsize', 'Pstatus', 'Medu',
       'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [12]:
df.columns = ['School', 'Gender', 'Age', 'Address','Family_size','parents_status',
              'Mother_edu','Father_edu', 'Mother_job', 'Father_job', 'Reason', 'Guardian',
              'Travel_time', 'Study_time','Failures', 'School_support', 'Family_support', 'Paid', 'Activities', 'Nursery',
       'Higher_edu', 'Internet_at_home', 'Romantic_relationship', 'Family_relationship', 'Free_time', 'Go_out', 'Daily_alcohol',
       'Weekend_alcohol', 'Health', 'Absences', 'First_period_grade', 'Second_period_grade', 'Final_grade']

In [13]:
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,...,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [14]:
df['Family_size'] = df['Family_size'].replace(['GT3','LE3'],['Greater than 3','3 or less'])

In [15]:
df.columns

Index(['School', 'Gender', 'Age', 'Address', 'Family_size', 'parents_status',
       'Mother_edu', 'Father_edu', 'Mother_job', 'Father_job', 'Reason',
       'Guardian', 'Travel_time', 'Study_time', 'Failures', 'School_support',
       'Family_support', 'Paid', 'Activities', 'Nursery', 'Higher_edu',
       'Internet_at_home', 'Romantic_relationship', 'Family_relationship',
       'Free_time', 'Go_out', 'Daily_alcohol', 'Weekend_alcohol', 'Health',
       'Absences', 'First_period_grade', 'Second_period_grade', 'Final_grade'],
      dtype='object')

In [16]:
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,...,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [17]:
df['parents_status'] = df['parents_status'].replace(['T','A'],['Living together','Apart'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,...,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [18]:
df['Mother_edu'] = df['Mother_edu'].replace([0,1,2,3,4],['None','Primary education',' 5th to 9th grade',' Secondary education','Higher education'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,...,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [19]:
df['Father_edu'] = df['Father_edu'].replace([0,1,2,3,4],['None','Primary education',' 5th to 9th grade',' Secondary education','Higher education'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,...,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,...,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,...,5,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,...,2,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,...,5,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,...,4,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [20]:
df.Travel_time.sample

<bound method NDFrame.sample of 0      2
1      1
2      1
3      1
4      1
      ..
390    1
391    2
392    1
393    3
394    1
Name: Travel_time, Length: 395, dtype: int64>

In [21]:
df['Travel_time'] = df['Travel_time'].replace([1,2,3,4],['<15 min','15 to 30 min',' 30 min. to 1 hour','>1 hour'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,...,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,...,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,...,5,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,...,2,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,...,5,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,...,4,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [22]:
df['Study_time'] = df['Study_time'].replace([1,2,3,4],['<2 hours','2 to 5 hours','5 to 10 hours','>10 hours'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,...,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,...,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,...,5,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,...,2,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,...,5,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,...,4,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [23]:
Fail= df.Failures.value_counts()
Fail

0    312
1     50
2     17
3     16
Name: Failures, dtype: int64

In [24]:
pd.set_option('display.max_columns', None)
df.head()

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,Reason,Guardian,Travel_time,Study_time,Failures,School_support,Family_support,Paid,Activities,Nursery,Higher_edu,Internet_at_home,Romantic_relationship,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,course,mother,15 to 30 min,2 to 5 hours,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,course,father,<15 min,2 to 5 hours,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,other,mother,<15 min,2 to 5 hours,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,home,mother,<15 min,5 to 10 hours,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,home,father,<15 min,2 to 5 hours,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

In [25]:
df['Family_relationship'] = df['Family_relationship'].replace([1,2,3,4,5],['Very bad','Bad','Normal','Good','Excellent'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,Reason,Guardian,Travel_time,Study_time,Failures,School_support,Family_support,Paid,Activities,Nursery,Higher_edu,Internet_at_home,Romantic_relationship,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,course,mother,15 to 30 min,2 to 5 hours,0,yes,no,no,no,yes,yes,no,no,Good,3,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,course,father,<15 min,2 to 5 hours,0,no,yes,no,no,no,yes,yes,no,Excellent,3,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,other,mother,<15 min,2 to 5 hours,3,yes,no,yes,no,yes,yes,yes,no,Good,3,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,home,mother,<15 min,5 to 10 hours,0,no,yes,yes,yes,yes,yes,yes,yes,Normal,2,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,home,father,<15 min,2 to 5 hours,0,no,yes,yes,no,yes,yes,no,no,Good,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,course,other,<15 min,2 to 5 hours,2,no,yes,yes,no,yes,yes,no,no,Excellent,5,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,course,mother,15 to 30 min,<2 hours,0,no,no,no,no,no,yes,yes,no,Bad,4,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,course,other,<15 min,<2 hours,3,no,no,no,no,no,yes,no,no,Excellent,5,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,course,mother,30 min. to 1 hour,<2 hours,0,no,no,no,no,no,yes,yes,no,Good,4,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,course,father,<15 min,<2 hours,0,no,no,no,no,yes,yes,yes,no,Normal,2,3,3,3,5,5,8,9,9

In [26]:
df['Free_time'] = df['Free_time'].replace([1,2,3,4,5],['Very low','Low','Medium','High','Very high'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,Reason,Guardian,Travel_time,Study_time,Failures,School_support,Family_support,Paid,Activities,Nursery,Higher_edu,Internet_at_home,Romantic_relationship,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,course,mother,15 to 30 min,2 to 5 hours,0,yes,no,no,no,yes,yes,no,no,Good,Medium,4,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,course,father,<15 min,2 to 5 hours,0,no,yes,no,no,no,yes,yes,no,Excellent,Medium,3,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,other,mother,<15 min,2 to 5 hours,3,yes,no,yes,no,yes,yes,yes,no,Good,Medium,2,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,home,mother,<15 min,5 to 10 hours,0,no,yes,yes,yes,yes,yes,yes,yes,Normal,Low,2,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,home,father,<15 min,2 to 5 hours,0,no,yes,yes,no,yes,yes,no,no,Good,Medium,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,course,other,<15 min,2 to 5 hours,2,no,yes,yes,no,yes,yes,no,no,Excellent,Very high,4,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,course,mother,15 to 30 min,<2 hours,0,no,no,no,no,no,yes,yes,no,Bad,High,5,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,course,other,<15 min,<2 hours,3,no,no,no,no,no,yes,no,no,Excellent,Very high,3,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,course,mother,30 min. to 1 hour,<2 hours,0,no,no,no,no,no,yes,yes,no,Good,High,1,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,course,father,<15 min,<2 hours,0,no,no,no,no,yes,yes,yes,no,Normal,Low,3,3,3,5,5,8,9,9

In [27]:
df['Go_out'] = df['Go_out'].replace([1,2,3,4,5],['Very low','Low','Medium','High','Very high'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,Reason,Guardian,Travel_time,Study_time,Failures,School_support,Family_support,Paid,Activities,Nursery,Higher_edu,Internet_at_home,Romantic_relationship,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,course,mother,15 to 30 min,2 to 5 hours,0,yes,no,no,no,yes,yes,no,no,Good,Medium,High,1,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,course,father,<15 min,2 to 5 hours,0,no,yes,no,no,no,yes,yes,no,Excellent,Medium,Medium,1,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,other,mother,<15 min,2 to 5 hours,3,yes,no,yes,no,yes,yes,yes,no,Good,Medium,Low,2,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,home,mother,<15 min,5 to 10 hours,0,no,yes,yes,yes,yes,yes,yes,yes,Normal,Low,Low,1,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,home,father,<15 min,2 to 5 hours,0,no,yes,yes,no,yes,yes,no,no,Good,Medium,Low,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,course,other,<15 min,2 to 5 hours,2,no,yes,yes,no,yes,yes,no,no,Excellent,Very high,High,4,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,course,mother,15 to 30 min,<2 hours,0,no,no,no,no,no,yes,yes,no,Bad,High,Very high,3,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,course,other,<15 min,<2 hours,3,no,no,no,no,no,yes,no,no,Excellent,Very high,Medium,3,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,course,mother,30 min. to 1 hour,<2 hours,0,no,no,no,no,no,yes,yes,no,Good,High,Very low,3,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,course,father,<15 min,<2 hours,0,no,no,no,no,yes,yes,yes,no,Normal,Low,Medium,3,3,5,5,8,9,9

In [28]:
df['Daily_alcohol'] = df['Daily_alcohol'].replace([1,2,3,4,5],['Very low','Low','Medium','High','Very high'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,Reason,Guardian,Travel_time,Study_time,Failures,School_support,Family_support,Paid,Activities,Nursery,Higher_edu,Internet_at_home,Romantic_relationship,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,course,mother,15 to 30 min,2 to 5 hours,0,yes,no,no,no,yes,yes,no,no,Good,Medium,High,Very low,1,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,course,father,<15 min,2 to 5 hours,0,no,yes,no,no,no,yes,yes,no,Excellent,Medium,Medium,Very low,1,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,other,mother,<15 min,2 to 5 hours,3,yes,no,yes,no,yes,yes,yes,no,Good,Medium,Low,Low,3,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,home,mother,<15 min,5 to 10 hours,0,no,yes,yes,yes,yes,yes,yes,yes,Normal,Low,Low,Very low,1,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,home,father,<15 min,2 to 5 hours,0,no,yes,yes,no,yes,yes,no,no,Good,Medium,Low,Very low,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,course,other,<15 min,2 to 5 hours,2,no,yes,yes,no,yes,yes,no,no,Excellent,Very high,High,High,5,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,course,mother,15 to 30 min,<2 hours,0,no,no,no,no,no,yes,yes,no,Bad,High,Very high,Medium,4,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,course,other,<15 min,<2 hours,3,no,no,no,no,no,yes,no,no,Excellent,Very high,Medium,Medium,3,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,course,mother,30 min. to 1 hour,<2 hours,0,no,no,no,no,no,yes,yes,no,Good,High,Very low,Medium,4,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,course,father,<15 min,<2 hours,0,no,no,no,no,yes,yes,yes,no,Normal,Low,Medium,Medium,3,5,5,8,9,9

In [29]:
df['Weekend_alcohol'] = df['Weekend_alcohol'].replace([1,2,3,4,5],['Very low','Low','Medium','High','Very high'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,Reason,Guardian,Travel_time,Study_time,Failures,School_support,Family_support,Paid,Activities,Nursery,Higher_edu,Internet_at_home,Romantic_relationship,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,course,mother,15 to 30 min,2 to 5 hours,0,yes,no,no,no,yes,yes,no,no,Good,Medium,High,Very low,Very low,3,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,course,father,<15 min,2 to 5 hours,0,no,yes,no,no,no,yes,yes,no,Excellent,Medium,Medium,Very low,Very low,3,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,other,mother,<15 min,2 to 5 hours,3,yes,no,yes,no,yes,yes,yes,no,Good,Medium,Low,Low,Medium,3,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,home,mother,<15 min,5 to 10 hours,0,no,yes,yes,yes,yes,yes,yes,yes,Normal,Low,Low,Very low,Very low,5,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,home,father,<15 min,2 to 5 hours,0,no,yes,yes,no,yes,yes,no,no,Good,Medium,Low,Very low,Low,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,course,other,<15 min,2 to 5 hours,2,no,yes,yes,no,yes,yes,no,no,Excellent,Very high,High,High,Very high,4,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,course,mother,15 to 30 min,<2 hours,0,no,no,no,no,no,yes,yes,no,Bad,High,Very high,Medium,High,2,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,course,other,<15 min,<2 hours,3,no,no,no,no,no,yes,no,no,Excellent,Very high,Medium,Medium,Medium,3,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,course,mother,30 min. to 1 hour,<2 hours,0,no,no,no,no,no,yes,yes,no,Good,High,Very low,Medium,High,5,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,course,father,<15 min,<2 hours,0,no,no,no,no,yes,yes,yes,no,Normal,Low,Medium,Medium,Medium,5,5,8,9,9

In [30]:
df['Health'] = df['Health'].replace([1,2,3,4,5],['Very bad','Bad','Fair','Good','Very good'])
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,Reason,Guardian,Travel_time,Study_time,Failures,School_support,Family_support,Paid,Activities,Nursery,Higher_edu,Internet_at_home,Romantic_relationship,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,course,mother,15 to 30 min,2 to 5 hours,0,yes,no,no,no,yes,yes,no,no,Good,Medium,High,Very low,Very low,Fair,6,5,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,course,father,<15 min,2 to 5 hours,0,no,yes,no,no,no,yes,yes,no,Excellent,Medium,Medium,Very low,Very low,Fair,4,5,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,other,mother,<15 min,2 to 5 hours,3,yes,no,yes,no,yes,yes,yes,no,Good,Medium,Low,Low,Medium,Fair,10,7,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,home,mother,<15 min,5 to 10 hours,0,no,yes,yes,yes,yes,yes,yes,yes,Normal,Low,Low,Very low,Very low,Very good,2,15,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,home,father,<15 min,2 to 5 hours,0,no,yes,yes,no,yes,yes,no,no,Good,Medium,Low,Very low,Low,Very good,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,course,other,<15 min,2 to 5 hours,2,no,yes,yes,no,yes,yes,no,no,Excellent,Very high,High,High,Very high,Good,11,9,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,course,mother,15 to 30 min,<2 hours,0,no,no,no,no,no,yes,yes,no,Bad,High,Very high,Medium,High,Bad,3,14,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,course,other,<15 min,<2 hours,3,no,no,no,no,no,yes,no,no,Excellent,Very high,Medium,Medium,Medium,Fair,3,10,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,course,mother,30 min. to 1 hour,<2 hours,0,no,no,no,no,no,yes,yes,no,Good,High,Very low,Medium,High,Very good,0,11,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,course,father,<15 min,<2 hours,0,no,no,no,no,yes,yes,yes,no,Normal,Low,Medium,Medium,Medium,Very good,5,8,9,9

In [31]:
df.First_period_grade

0       5
1       5
2       7
3      15
4       6
       ..
390     9
391    14
392    10
393    11
394     8
Name: First_period_grade, Length: 395, dtype: int64

In [32]:
type(df['First_period_grade'])

pandas.core.series.Series

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   School                 395 non-null    object
 1   Gender                 395 non-null    object
 2   Age                    395 non-null    int64
 3   Address                395 non-null    object
 4   Family_size            395 non-null    object
 5   parents_status         395 non-null    object
 6   Mother_edu             395 non-null    object
 7   Father_edu             395 non-null    object
 8   Mother_job             395 non-null    object
 9   Father_job             395 non-null    object
 10  Reason                 395 non-null    object
 11  Guardian               395 non-null    object
 12  Travel_time            395 non-null    object
 13  Study_time             395 non-null    object
 14  Failures               395 non-null    int64
 15  School_support         395 non-null    object
 16  Family_support         395 non-null    object
 17  Paid                   395 non-null    object
 18  Activities             395 non-null    object
 19  Nursery                395 non-null    object
 20  Higher_edu             395 non-null    object
 21  Internet_at_home       395 non-null    object
 22  Romantic_relationship  395 non-null    object
 23  Family_relationship    395 non-null    object
 24  Free_time              395 non-null    object
 25  Go_out                 395 non-null    object
 26  Daily_alcohol          395 non-null    object
 27  Weekend_alcohol        395 non-null    object
 28  Health                 395 non-null    object
 29  Absences               395 non-null    int64
 30  First_period_grade     395 non-null    int64
 31  Second_period_grade    395 non-null    int64
 32  Final_grade            395 non-null    int64
dtypes: int64(6), object(27)
memory usage: 102.0+ KB

In [34]:
df['First_period_grade'].astype(str)

0       5
1       5
2       7
3      15
4       6
       ..
390     9
391    14
392    10
393    11
394     8
Name: First_period_grade, Length: 395, dtype: object

In [35]:
def first(First_period_grade):
    if First_period_grade >= 18:
        return "A+"
    elif First_period_grade >=16:
        return "A"
    elif First_period_grade>= 14:
        return "B"
    elif First_period_grade >= 10:
        return "C"
    else:
        return "F"

In [36]:
df['First_period_grade']= df.First_period_grade.apply(first)
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,Reason,Guardian,Travel_time,Study_time,Failures,School_support,Family_support,Paid,Activities,Nursery,Higher_edu,Internet_at_home,Romantic_relationship,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,course,mother,15 to 30 min,2 to 5 hours,0,yes,no,no,no,yes,yes,no,no,Good,Medium,High,Very low,Very low,Fair,6,F,6,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,course,father,<15 min,2 to 5 hours,0,no,yes,no,no,no,yes,yes,no,Excellent,Medium,Medium,Very low,Very low,Fair,4,F,5,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,other,mother,<15 min,2 to 5 hours,3,yes,no,yes,no,yes,yes,yes,no,Good,Medium,Low,Low,Medium,Fair,10,F,8,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,home,mother,<15 min,5 to 10 hours,0,no,yes,yes,yes,yes,yes,yes,yes,Normal,Low,Low,Very low,Very low,Very good,2,B,14,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,home,father,<15 min,2 to 5 hours,0,no,yes,yes,no,yes,yes,no,no,Good,Medium,Low,Very low,Low,Very good,4,F,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,course,other,<15 min,2 to 5 hours,2,no,yes,yes,no,yes,yes,no,no,Excellent,Very high,High,High,Very high,Good,11,F,9,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,course,mother,15 to 30 min,<2 hours,0,no,no,no,no,no,yes,yes,no,Bad,High,Very high,Medium,High,Bad,3,B,16,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,course,other,<15 min,<2 hours,3,no,no,no,no,no,yes,no,no,Excellent,Very high,Medium,Medium,Medium,Fair,3,C,8,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,course,mother,30 min. to 1 hour,<2 hours,0,no,no,no,no,no,yes,yes,no,Good,High,Very low,Medium,High,Very good,0,C,12,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,course,father,<15 min,<2 hours,0,no,no,no,no,yes,yes,yes,no,Normal,Low,Medium,Medium,Medium,Very good,5,F,9,9

In [37]:
df['Second_period_grade']= df.Second_period_grade.apply(first)
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,Reason,Guardian,Travel_time,Study_time,Failures,School_support,Family_support,Paid,Activities,Nursery,Higher_edu,Internet_at_home,Romantic_relationship,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,course,mother,15 to 30 min,2 to 5 hours,0,yes,no,no,no,yes,yes,no,no,Good,Medium,High,Very low,Very low,Fair,6,F,F,6
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,course,father,<15 min,2 to 5 hours,0,no,yes,no,no,no,yes,yes,no,Excellent,Medium,Medium,Very low,Very low,Fair,4,F,F,6
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,other,mother,<15 min,2 to 5 hours,3,yes,no,yes,no,yes,yes,yes,no,Good,Medium,Low,Low,Medium,Fair,10,F,F,10
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,home,mother,<15 min,5 to 10 hours,0,no,yes,yes,yes,yes,yes,yes,yes,Normal,Low,Low,Very low,Very low,Very good,2,B,B,15
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,home,father,<15 min,2 to 5 hours,0,no,yes,yes,no,yes,yes,no,no,Good,Medium,Low,Very low,Low,Very good,4,F,C,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,course,other,<15 min,2 to 5 hours,2,no,yes,yes,no,yes,yes,no,no,Excellent,Very high,High,High,Very high,Good,11,F,F,9
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,course,mother,15 to 30 min,<2 hours,0,no,no,no,no,no,yes,yes,no,Bad,High,Very high,Medium,High,Bad,3,B,A,16
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,course,other,<15 min,<2 hours,3,no,no,no,no,no,yes,no,no,Excellent,Very high,Medium,Medium,Medium,Fair,3,C,F,7
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,course,mother,30 min. to 1 hour,<2 hours,0,no,no,no,no,no,yes,yes,no,Good,High,Very low,Medium,High,Very good,0,C,C,10
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,course,father,<15 min,<2 hours,0,no,no,no,no,yes,yes,yes,no,Normal,Low,Medium,Medium,Medium,Very good,5,F,F,9

In [38]:
df['Final_grade']= df.Final_grade.apply(first)
df

,School,Gender,Age,Address,Family_size,parents_status,Mother_edu,Father_edu,Mother_job,Father_job,Reason,Guardian,Travel_time,Study_time,Failures,School_support,Family_support,Paid,Activities,Nursery,Higher_edu,Internet_at_home,Romantic_relationship,Family_relationship,Free_time,Go_out,Daily_alcohol,Weekend_alcohol,Health,Absences,First_period_grade,Second_period_grade,Final_grade
0,Gabriel Pereira,Famle,18,Urban,Greater than 3,Apart,Higher education,Higher education,at_home,teacher,course,mother,15 to 30 min,2 to 5 hours,0,yes,no,no,no,yes,yes,no,no,Good,Medium,High,Very low,Very low,Fair,6,F,F,F
1,Gabriel Pereira,Famle,17,Urban,Greater than 3,Living together,Primary education,Primary education,at_home,other,course,father,<15 min,2 to 5 hours,0,no,yes,no,no,no,yes,yes,no,Excellent,Medium,Medium,Very low,Very low,Fair,4,F,F,F
2,Gabriel Pereira,Famle,15,Urban,3 or less,Living together,Primary education,Primary education,at_home,other,other,mother,<15 min,2 to 5 hours,3,yes,no,yes,no,yes,yes,yes,no,Good,Medium,Low,Low,Medium,Fair,10,F,F,C
3,Gabriel Pereira,Famle,15,Urban,Greater than 3,Living together,Higher education,5th to 9th grade,health,services,home,mother,<15 min,5 to 10 hours,0,no,yes,yes,yes,yes,yes,yes,yes,Normal,Low,Low,Very low,Very low,Very good,2,B,B,B
4,Gabriel Pereira,Famle,16,Urban,Greater than 3,Living together,Secondary education,Secondary education,other,other,home,father,<15 min,2 to 5 hours,0,no,yes,yes,no,yes,yes,no,no,Good,Medium,Low,Very low,Low,Very good,4,F,C,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Mousinho da Silveira,Male,20,Urban,3 or less,Apart,5th to 9th grade,5th to 9th grade,services,services,course,other,<15 min,2 to 5 hours,2,no,yes,yes,no,yes,yes,no,no,Excellent,Very high,High,High,Very high,Good,11,F,F,F
391,Mousinho da Silveira,Male,17,Urban,3 or less,Living together,Secondary education,Primary education,services,services,course,mother,15 to 30 min,<2 hours,0,no,no,no,no,no,yes,yes,no,Bad,High,Very high,Medium,High,Bad,3,B,A,A
392,Mousinho da Silveira,Male,21,Rural,Greater than 3,Living together,Primary education,Primary education,other,other,course,other,<15 min,<2 hours,3,no,no,no,no,no,yes,no,no,Excellent,Very high,Medium,Medium,Medium,Fair,3,C,F,F
393,Mousinho da Silveira,Male,18,Rural,3 or less,Living together,Secondary education,5th to 9th grade,services,other,course,mother,30 min. to 1 hour,<2 hours,0,no,no,no,no,no,yes,yes,no,Good,High,Very low,Medium,High,Very good,0,C,C,C
394,Mousinho da Silveira,Male,19,Urban,3 or less,Living together,Primary education,Primary education,other,at_home,course,father,<15 min,<2 hours,0,no,no,no,no,yes,yes,yes,no,Normal,Low,Medium,Medium,Medium,Very good,5,F,F,F

In [42]:
df.to_csv('Students_performance.csv', index=False)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   School                 395 non-null    object
 1   Gender                 395 non-null    object
 2   Age                    395 non-null    int64
 3   Address                395 non-null    object
 4   Family_size            395 non-null    object
 5   parents_status         395 non-null    object
 6   Mother_edu             395 non-null    object
 7   Father_edu             395 non-null    object
 8   Mother_job             395 non-null    object
 9   Father_job             395 non-null    object
 10  Reason                 395 non-null    object
 11  Guardian               395 non-null    object
 12  Travel_time            395 non-null    object
 13  Study_time             395 non-null    object
 14  Failures               395 non-null    int64
 15  School_support         395 non-null    object
 16  Family_support         395 non-null    object
 17  Paid                   395 non-null    object
 18  Activities             395 non-null    object
 19  Nursery                395 non-null    object
 20  Higher_edu             395 non-null    object
 21  Internet_at_home       395 non-null    object
 22  Romantic_relationship  395 non-null    object
 23  Family_relationship    395 non-null    object
 24  Free_time              395 non-null    object
 25  Go_out                 395 non-null    object
 26  Daily_alcohol          395 non-null    object
 27  Weekend_alcohol        395 non-null    object
 28  Health                 395 non-null    object
 29  Absences               395 non-null    int64
 30  First_period_grade     395 non-null    object
 31  Second_period_grade    395 non-null    object
 32  Final_grade            395 non-null    object
dtypes: int64(3), object(30)
memory usage: 102.0+ KB

In [40]:
df.describe()

              Age    Failures    Absences
count  395.000000  395.000000  395.000000
mean    16.696203    0.334177    5.708861
std      1.276043    0.743651    8.003096
min     15.000000    0.000000    0.000000
25%     16.000000    0.000000    0.000000
50%     17.000000    0.000000    4.000000
75%     18.000000    0.000000    8.000000
max     22.000000    3.000000   75.000000

In [41]:
df[]

SyntaxError: invalid syntax (<ipython-input-41-71f11347ebfc>, line 1)